@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.ijk</h3>

<address>
   Visit me on the web.<br />
   <a href="http://www.joedaoud.com" target="_blank">www.joedaoud.com</a><br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:joe@joedaoud.com">joe@joedaoud.com</a><br />
    
</address>